In [1]:
import pandas as pd

### Importing 2019 ACS dataset

In [40]:
df2019 = pd.read_csv("ACS_income_data.csv")

In [31]:
df2019.sample(5)

,Estimate - Total:,Margin of Error - Total:,"Estimate - Total: - Less than $10,000","Margin of Error - Total: - Less than $10,000","Estimate - Total: - $10,000 to $14,999","Margin of Error - Total: - $10,000 to $14,999","Estimate - Total: - $15,000 to $19,999","Margin of Error - Total: - $15,000 to $19,999","Estimate - Total: - $20,000 to $24,999","Margin of Error - Total: - $20,000 to $24,999",...,"Estimate - Total: - $100,000 to $124,999","Margin of Error - Total: - $100,000 to $124,999","Estimate - Total: - $125,000 to $149,999","Margin of Error - Total: - $125,000 to $149,999","Estimate - Total: - $150,000 to $199,999","Margin of Error - Total: - $150,000 to $199,999","Estimate - Total: - $200,000 or more","Margin of Error - Total: - $200,000 or more",id,Geographic Area Name
7708,180,53,26,30,0,12,12,18,31,47,...,0,12,0,12,0,12,2,5,8600000US24924,ZCTA5 24924
25527,5586,170,379,83,423,86,437,93,468,82,...,266,71,175,55,158,41,120,47,8600000US74003,ZCTA5 74003
5760,1631,137,47,52,75,65,84,65,159,98,...,69,51,101,68,34,40,85,76,8600000US18434,ZCTA5 18434
25227,0,10,0,10,0,10,0,10,0,10,...,0,10,0,10,0,10,0,10,8600000US73019,ZCTA5 73019
8797,14792,327,369,150,347,121,292,146,442,165,...,1498,268,941,261,709,200,562,185,8600000US28273,ZCTA5 28273

In [32]:
df2019['ZIP'] = df2019['Geographic Area Name'].str.replace('ZCTA5 ', '')

Looking at the counts, it appears that there's a duplicated row: zip code 31905.

In [33]:
income_by_zip.ZIP.describe()

count     33121
unique    33120
top       31905
freq          2
Name: ZIP, dtype: object

Looking at the rows for 31905, they look the same.

In [34]:
df2019[df2019.ZIP == '31905']

,Estimate - Total:,Margin of Error - Total:,"Estimate - Total: - Less than $10,000","Margin of Error - Total: - Less than $10,000","Estimate - Total: - $10,000 to $14,999","Margin of Error - Total: - $10,000 to $14,999","Estimate - Total: - $15,000 to $19,999","Margin of Error - Total: - $15,000 to $19,999","Estimate - Total: - $20,000 to $24,999","Margin of Error - Total: - $20,000 to $24,999",...,"Margin of Error - Total: - $100,000 to $124,999","Estimate - Total: - $125,000 to $149,999","Margin of Error - Total: - $125,000 to $149,999","Estimate - Total: - $150,000 to $199,999","Margin of Error - Total: - $150,000 to $199,999","Estimate - Total: - $200,000 or more","Margin of Error - Total: - $200,000 or more",id,Geographic Area Name,ZIP
10272,3538,220,156,67,12,18,79,52,87,60,...,91,66,39,61,32,50,37,8600000US31905,ZCTA5 31905,31905
33120,3538,220,156,67,12,18,79,52,87,60,...,91,66,39,61,32,50,37,8600000US31905,ZCTA5 31905,31905

Creating a dataframe with duplicate rows dropped, then comparing the counts and main descriptive statistics of the original and new dataframes to make sure we didn't drop more rows than we expected.

In [35]:
df2019_dedup = df2019.drop_duplicates()

In [36]:
df2019.describe()

,Estimate - Total:,Margin of Error - Total:,"Estimate - Total: - Less than $10,000","Margin of Error - Total: - Less than $10,000","Estimate - Total: - $10,000 to $14,999","Margin of Error - Total: - $10,000 to $14,999","Estimate - Total: - $15,000 to $19,999","Margin of Error - Total: - $15,000 to $19,999","Estimate - Total: - $20,000 to $24,999","Margin of Error - Total: - $20,000 to $24,999",...,"Estimate - Total: - $75,000 to $99,999","Margin of Error - Total: - $75,000 to $99,999","Estimate - Total: - $100,000 to $124,999","Margin of Error - Total: - $100,000 to $124,999","Estimate - Total: - $125,000 to $149,999","Margin of Error - Total: - $125,000 to $149,999","Estimate - Total: - $150,000 to $199,999","Margin of Error - Total: - $150,000 to $199,999","Estimate - Total: - $200,000 or more","Margin of Error - Total: - $200,000 or more"
count,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,...,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000,33121.000000
mean,3681.944416,172.517255,230.232662,72.567102,160.915884,61.662208,163.745116,62.879593,167.704659,64.017119,...,465.695903,100.375653,333.357447,83.230458,219.772954,66.110564,247.095619,66.119079,280.048761,61.944235
std,5321.822841,143.210631,441.467383,79.543753,276.894122,65.138068,265.199695,65.410677,264.045977,66.301363,...,696.950972,100.802613,525.229248,87.066982,372.869232,72.322362,469.368329,76.512230,684.807153,77.601507
min,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,1.000000,0.000000,2.000000,...,0.000000,1.000000,0.000000,2.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000
25%,271.000000,60.000000,11.000000,13.000000,9.000000,12.000000,10.000000,12.000000,11.000000,12.000000,...,31.000000,22.000000,17.000000,15.000000,8.000000,12.000000,6.000000,12.000000,3.000000,12.000000
50%,1073.000000,125.000000,55.000000,39.000000,45.000000,33.000000,48.000000,35.000000,49.000000,36.000000,...,137.000000,59.000000,87.000000,46.000000,47.000000,33.000000,40.000000,31.000000,29.000000,25.000000
75%,5061.000000,257.000000,257.000000,109.000000,188.000000,94.000000,200.000000,96.000000,210.000000,98.000000,...,611.000000,156.000000,418.000000,130.000000,257.000000,101.000000,254.000000,99.000000,202.000000,87.000000
max,41355.000000,1092.000000,7901.000000,663.000000,3942.000000,477.000000,3126.000000,481.000000,3363.000000,465.000000,...,6491.000000,878.000000,5660.000000,860.000000,4105.000000,688.000000,6095.000000,836.000000,11968.000000,927.000000

In [37]:
df2019_dedup.describe()

,Estimate - Total:,Margin of Error - Total:,"Estimate - Total: - Less than $10,000","Margin of Error - Total: - Less than $10,000","Estimate - Total: - $10,000 to $14,999","Margin of Error - Total: - $10,000 to $14,999","Estimate - Total: - $15,000 to $19,999","Margin of Error - Total: - $15,000 to $19,999","Estimate - Total: - $20,000 to $24,999","Margin of Error - Total: - $20,000 to $24,999",...,"Estimate - Total: - $75,000 to $99,999","Margin of Error - Total: - $75,000 to $99,999","Estimate - Total: - $100,000 to $124,999","Margin of Error - Total: - $100,000 to $124,999","Estimate - Total: - $125,000 to $149,999","Margin of Error - Total: - $125,000 to $149,999","Estimate - Total: - $150,000 to $199,999","Margin of Error - Total: - $150,000 to $199,999","Estimate - Total: - $200,000 or more","Margin of Error - Total: - $200,000 or more"
count,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.00000,...,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000,33120.000000
mean,3681.948762,172.515821,230.234903,72.567271,160.920380,61.663527,163.747675,62.879921,167.707095,64.01724,...,465.690791,100.374215,333.357790,83.230223,219.777597,66.111383,247.101238,66.120109,280.055707,61.944988
std,5321.903126,143.212556,441.473859,79.544948,276.897093,65.138610,265.203290,65.411637,264.049591,66.30236,...,696.960873,100.803795,525.237174,87.068286,372.873903,72.323300,469.374301,76.513155,684.816325,77.602558
min,0.000000,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,1.000000,0.000000,2.00000,...,0.000000,1.000000,0.000000,2.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000
25%,271.000000,60.000000,11.000000,13.000000,9.000000,12.000000,10.000000,12.000000,11.000000,12.00000,...,31.000000,22.000000,17.000000,15.000000,8.000000,12.000000,6.000000,12.000000,3.000000,12.000000
50%,1073.000000,125.000000,55.000000,39.000000,45.000000,33.000000,48.000000,35.000000,49.000000,36.00000,...,137.000000,59.000000,87.000000,46.000000,47.000000,33.000000,40.000000,31.000000,29.000000,25.000000
75%,5061.000000,257.000000,257.000000,109.000000,188.000000,94.000000,200.000000,96.000000,210.000000,98.00000,...,611.000000,156.000000,418.000000,130.000000,257.000000,101.000000,254.000000,99.000000,202.000000,87.000000
max,41355.000000,1092.000000,7901.000000,663.000000,3942.000000,477.000000,3126.000000,481.000000,3363.000000,465.00000,...,6491.000000,878.000000,5660.000000,860.000000,4105.000000,688.000000,6095.000000,836.000000,11968.000000,927.000000

In [38]:
df2019_dedup.to_csv("ACS 2019_income_data_zip_accessible.csv")

### Importing 2020 ACS Dataset

In [41]:
df2020 = pd.read_csv("ACS 2020_income_data.csv")

In [52]:
df2020.head()

,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Less than $10,000","Margin of Error!!Total:!!Less than $10,000","Estimate!!Total:!!$10,000 to $14,999","Margin of Error!!Total:!!$10,000 to $14,999","Estimate!!Total:!!$15,000 to $19,999","Margin of Error!!Total:!!$15,000 to $19,999","Estimate!!Total:!!$20,000 to $24,999","Margin of Error!!Total:!!$20,000 to $24,999",...,"Margin of Error!!Total:!!$100,000 to $124,999","Estimate!!Total:!!$125,000 to $149,999","Margin of Error!!Total:!!$125,000 to $149,999","Estimate!!Total:!!$150,000 to $199,999","Margin of Error!!Total:!!$150,000 to $199,999","Estimate!!Total:!!$200,000 or more","Margin of Error!!Total:!!$200,000 or more",id,Geographic Area Name,ZIP
0,5555,255,1977,266,913,178,710,170,454,123,...,37,0,23,20,33,0,23,8600000US00601,ZCTA5 00601,00601
1,12901,432,3698,374,2124,364,1454,268,1054,231,...,107,55,58,117,77,0,30,8600000US00602,ZCTA5 00602,00602
2,19431,496,6984,507,2397,323,1846,307,1223,229,...,120,194,105,73,65,106,66,8600000US00603,ZCTA5 00603,00603
3,1983,181,737,147,255,84,228,90,193,90,...,20,0,20,0,20,0,20,8600000US00606,ZCTA5 00606,00606
4,8864,348,2116,305,1242,249,1042,216,855,209,...,88,35,41,33,51,49,47,8600000US00610,ZCTA5 00610,00610

In [58]:
df2020.columns = df2020.columns.str.replace("!!", " - ")

In [45]:
df2020['ZIP'] = df2020['Geographic Area Name'].str.replace('ZCTA5 ', '')

In [46]:
df2020.ZIP.describe()

count     33121
unique    33120
top       31905
freq          2
Name: ZIP, dtype: object

In [47]:
df2020_dedup = df2020.drop_duplicates()

In [48]:
df2020_dedup.to_csv("ACS 2020_income_data_zip_accessible.csv")

### Importing 2018 ACS Dataset

In [50]:
df2018 = pd.read_csv("ACS 2018_income_data.csv")

In [51]:
df2018.head()

,Estimate - Total,Margin of Error - Total,"Estimate - Total - Less than $10,000","Margin of Error - Total - Less than $10,000","Estimate - Total - $10,000 to $14,999","Margin of Error - Total - $10,000 to $14,999","Estimate - Total - $15,000 to $19,999","Margin of Error - Total - $15,000 to $19,999","Estimate - Total - $20,000 to $24,999","Margin of Error - Total - $20,000 to $24,999",...,"Estimate - Total - $100,000 to $124,999","Margin of Error - Total - $100,000 to $124,999","Estimate - Total - $125,000 to $149,999","Margin of Error - Total - $125,000 to $149,999","Estimate - Total - $150,000 to $199,999","Margin of Error - Total - $150,000 to $199,999","Estimate - Total - $200,000 or more","Margin of Error - Total - $200,000 or more",id,Geographic Area Name
0,5517.0,254.0,2282.0,203.0,839.0,150.0,548.0,138.0,298.0,102.0,...,23.0,20.0,0.0,21.0,19.0,30.0,5.0,8.0,8600000US00601,ZCTA5 00601
1,12738.0,429.0,3904.0,380.0,2019.0,334.0,1498.0,238.0,946.0,173.0,...,226.0,107.0,38.0,49.0,81.0,63.0,0.0,29.0,8600000US00602,ZCTA5 00602
2,19233.0,491.0,6308.0,468.0,2598.0,320.0,1848.0,282.0,1401.0,234.0,...,331.0,124.0,120.0,65.0,87.0,68.0,144.0,68.0,8600000US00603,ZCTA5 00603
3,2014.0,173.0,851.0,147.0,267.0,82.0,209.0,77.0,185.0,84.0,...,0.0,19.0,0.0,19.0,0.0,19.0,0.0,19.0,8600000US00606,ZCTA5 00606
4,8858.0,367.0,2178.0,276.0,1426.0,245.0,958.0,209.0,843.0,212.0,...,119.0,78.0,44.0,61.0,0.0,25.0,39.0,37.0,8600000US00610,ZCTA5 00610