In [1]:
import pandas as pd

In [2]:
mft_df = pd.read_csv("./data/mft_at_county_level.csv")
vita_df = pd.read_csv("./data/vita_sites_by_county.csv")
county_names = pd.read_csv("./data/acs_household_income_county.csv", dtype={'Full FIPS Code': 'string'})[
    ['acs_state_fips', 'acs_county_fips', 'county_name', 'state_name', 'Full FIPS Code']
]

In [3]:
vita_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATEFP           3150 non-null   int64
 1   COUNTYFP          3150 non-null   int64
 2   AFFGEOID          3150 non-null   object
 3   GEOID             3150 non-null   int64
 4   id                3150 non-null   int64
 5   appointment_info  3148 non-null   object
 6   created_at        3150 non-null   object
 7   dates             3150 non-null   object
 8   details           3150 non-null   object
 9   hours             865 non-null    object
 10  irs_id            3150 non-null   int64
 11  languages         3150 non-null   object
 12  name              3150 non-null   object
 13  updated_at        3150 non-null   object
 14  longitude         3150 non-null   float64
 15  latitude          3150 non-null   float64
dtypes: float64(2), int64(5), object(9)
memory usage: 393.9+ KB

In [4]:
mft_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STATE             3221 non-null   int64
 1   COUNTY            3221 non-null   int64
 2   #e-filed returns  3221 non-null   float64
 3   United Way        2810 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 100.8+ KB

In [12]:
mft_df['Any e-filed returns'] = mft_df['#e-filed returns'].apply(lambda x: 'Yes' if (x > 0) else None)
mft_df.dropna(subset=['Any e-filed returns'], inplace=True)

In [13]:
mft_vita_df = pd.merge(
    pd.merge(
        county_names, mft_df,
        left_on=['acs_state_fips', 'acs_county_fips'], right_on=['STATE', 'COUNTY'],
        how='left'
    ), vita_df,
    left_on=['acs_state_fips', 'acs_county_fips'], right_on=['STATEFP', 'COUNTYFP'],
    how='left')

In [14]:
mft_vita_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5249 entries, 0 to 5248
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   acs_state_fips       5249 non-null   int64
 1   acs_county_fips      5249 non-null   int64
 2   county_name          5249 non-null   object
 3   state_name           5249 non-null   object
 4   Full FIPS Code       5249 non-null   string
 5   STATE                4829 non-null   float64
 6   COUNTY               4829 non-null   float64
 7   #e-filed returns     4829 non-null   float64
 8   United Way           4829 non-null   object
 9   Any e-filed returns  4829 non-null   object
 10  STATEFP              3150 non-null   float64
 11  COUNTYFP             3150 non-null   float64
 12  AFFGEOID             3150 non-null   object
 13  GEOID                3150 non-null   float64
 14  id                   3150 non-null   float64
 15  appointment_info     3148 non-null   object
 16  created_at           3150 non-null   object
 17  dates                3150 non-null   object
 18  details              3150 non-null   object
 19  hours                865 non-null    object
 20  irs_id               3150 non-null   float64
 21  languages            3150 non-null   object
 22  name                 3150 non-null   object
 23  updated_at           3150 non-null   object
 24  longitude            3150 non-null   float64
 25  latitude             3150 non-null   float64
dtypes: float64(10), int64(2), object(13), string(1)
memory usage: 1.1+ MB

In [16]:
mft_vita_df.drop(columns=['acs_state_fips', 'acs_county_fips', 'STATE', 'COUNTY', 'AFFGEOID', 'GEOID'], inplace=True)

In [17]:
mft_vita_df.sample(10)

,county_name,state_name,Full FIPS Code,#e-filed returns,United Way,Any e-filed returns,STATEFP,COUNTYFP,id,appointment_info,created_at,dates,details,hours,irs_id,languages,name,updated_at,longitude,latitude
1082,Indian River County,Florida,12061,128.0,United Way of Indian River County,Yes,12.0,61.0,4603.0,Not Required,2020-03-11T00:27:50.112573,31 JAN 2022 - 18 APR 2022,"1400 27th Street\nVero Beach, FL 32960\nVolunt...",TUE 2:30PM-6:30PM\nTHU 10:00AM-2:00PM,27245.0,"English,Spanish",United Against Poverty - Vero,2022-03-20T00:01:10.371271,-80.400295,27.646615
292,San Diego County,California,06073,3573.0,"Orange County United Way, United Way of San Di...",Yes,6.0,73.0,406.0,Required,2020-01-10T19:32:19.706947,24 JAN 2022 - 30 DEC 2022,"832 1/2 E Avenue\nNational City, CA 91950\n619...",NaN,10884.0,"Tagalog,English,Spanish",COPAO,2022-03-20T00:00:45.821593,-117.101708,32.676981
4048,Day County,South Dakota,46037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,Martin County,Florida,12085,89.0,"United Way of Martin County, Inc., United Way ...",Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3943,Providence County,Rhode Island,44007,281.0,United Way of Rhode Island,Yes,44.0,7.0,3068.0,Required,2020-01-10T19:32:42.277416,31 JAN 2022 - 18 APR 2022,"855 Waterman Ave\nEast Providence, RI 02914\n4...",NaN,9334.0,English,EBCAP/ BridgePoint Christian Church,2022-03-20T00:01:14.247591,-71.349529,41.812342
3817,Cimarron County,Oklahoma,40025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152,Maricopa County,Arizona,04013,2616.0,"United Way of Pinal County, Valley of the Sun ...",Yes,4.0,13.0,7075.0,Not Required,2022-01-30T00:00:49.163848,05 FEB 2022 - 09 APR 2022,"6216 W Glendale Ave\nGlendale, AZ 85301\nSelf-...",SAT 10:00AM-12:00PM,31004.0,"English,Spanish",ANL - Glendale High School - FSA,2022-03-20T00:00:46.752875,-112.193186,33.538473
1734,Madison County,Georgia,13195,22.0,United Way of Northeast Georgia,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,Vigo County,Indiana,18167,50.0,"United Way of the Wabash Valley, Inc.",Yes,18.0,167.0,7180.0,Required,2022-02-13T00:00:55.974344,14 FEB 2022 - 13 APR 2022,"One Library Square\nTerre Haute, IN 47807\n812...",NaN,30970.0,English,Vigo County Public Library,2022-03-20T00:00:56.580043,-87.408274,39.463358
410,Madison County,Missouri,29123,18.0,United Way of St. Francois County,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
import csv
mft_vita_df.to_csv('./data/mft_vita_merged.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)